

.h12{
        padding-top: 30px;
        padding-bottom: 30px;
        background-color: white;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        font-size: 20px;
        color: rgb(66, 66, 159);
        text-align: center;

}

input{
        font-family: 'Alice', serif;
        font-size: 17px;
}

h1 {
        font-family: 'Playfair Display', serif;
        font-size: 40px;
}

h2 {
        font-family: 'Alice', serif;
        font-size: 30px;

}


body {
        font-size: 17px;
}


#clima{
        text-align: center;
        align-items: center;
        padding-bottom: 20px;
        color: white;
        border-top-style: solid;
        border-bottom-style: solid;
        height: 10px ;
        margin-bottom: 30px;
        font-family: 'Playfair Display', serif;
        background-color: rgb(100, 99, 142) ;
}

fieldset {
        display: inline-block;
}


legend{
        font-family: 'Playfair Display', serif;
}

label {
        font-family: 'Alice', serif;
}
main {
        text-align: center;
}

select{
        font-family: 'Alice', serif;
        font-size: 17px;
}


button {
        font-family: 'Playfair Display', serif;
        border-radius: 5px;
        color: rgb(252, 252, 252);
        background-color: rgb(90, 90, 140);
        font-size: 17px;
}

#solicitar {
        color:white;
        background-color: rgb(66, 66, 159);
}

footer {
        padding-top: 30px;
        text-align: center;
        font-family: 'Playfair Display', serif;
}

@media screen and (max-width: 600px) {
        body {
                font-size: 10px;
                height: auto;
                width: 100vw; } 
        
        
        button {
                font-size: 10px; 
        }

        input {
                font-size: 10px; 
        }

        select {
                font-size: 10px; 
                }


        h1{
                font-size: 30px;
        }

        h2{
                font-size: 20px;
        }

        #clima {
                height: 2px ;
        }
        }